body{
    display:block;
    text-align: center;
    align-self: center;
    margin-top: 20vh;
    margin-right: 20vw;
    margin-left: 20vw;
    width: 60vw;
    height: 30vh;
    border: 3px solid black;
}